parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Artemeon\\\\Database\\\\ConnectionInterface\\:\\:flushPreparedStatementsCache\\(\\)\\.$#"
			count: 1
			path: tests/EntityManagerTestCase.php

		-
			message: "#^Call to an undefined method Artemeon\\\\Database\\\\ConnectionInterface\\:\\:flushQueryCache\\(\\)\\.$#"
			count: 1
			path: tests/EntityManagerTestCase.php

		-
			message: "#^Call to an undefined method Artemeon\\\\Database\\\\ConnectionInterface\\:\\:flushTablesCache\\(\\)\\.$#"
			count: 1
			path: tests/EntityManagerTestCase.php
